<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676616876310-0d2n22ccitrf77vbd4lmklppqhf75rb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676616876310-0d2n22ccitrf77vbd4lmklppqhf75rb4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtNtqPKhkiay2zjcyQgn3oWhFsFOpcbI4</string>
	<key>GCM_SENDER_ID</key>
	<string>676616876310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.preorder.preorder</string>
	<key>PROJECT_ID</key>
	<string>preorder-d773a</string>
	<key>STORAGE_BUCKET</key>
	<string>preorder-d773a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676616876310:ios:5700bcde0c084c7fcbe037</string>
	<key>DATABASE_URL</key>
	<string>https://preorder-d773a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>